@use "@angular/material" as mat;

$palette-primary: mat.define-palette(mat.$indigo-palette);
$palette-secondary: mat.define-palette(mat.$pink-palette);
$palette-warn: #f44336;
$palette-success: #4caf50;
$palette-attend: #ff9800;
$palette-info: #0288d1;

$border-radius: 10px;

$box-shadow-1: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
  0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

$transition: 0.3s;

$grey-bg-color: #efefef;
$light-bg-color: #f9f9f9;
