@use "@angular/material" as mat;
@use "/src/theme.constants.scss" as theme;

.dashboard {
  width: 100vw;
  height: 100vh;
  background-color: theme.$light-bg-color;
  display: flex;
  align-items: center;
  padding: 2rem 3rem;
  gap: 1rem;
}

.tasks-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  flex: 1 1 0;
  padding: 1rem;
  background-color: white;
  border-radius: theme.$border-radius;
  border: 1px solid theme.$grey-bg-color;
}

.tasks-many {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: auto;
}

.tasks-many:last-child {
  border: none;
}

.tasks-many.cdk-drop-list-dragging .task-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
