@use "@angular/material" as mat;
@use "/src/theme.constants.scss" as theme;

$primary-400: mat.get-color-from-palette(theme.$palette-primary, 400);
$secondary-A100: mat.get-color-from-palette(theme.$palette-secondary, "A100");

.nav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.sidenav {
  padding: 1rem 0.7rem;
}

.link {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

.active-link {
  font-style: italic;
}
