<div class="root">
  <mat-sidenav-container class="nav-container">
    <mat-sidenav mode="side" opened class="sidenav">
      <mat-list>
        <mat-list-item>
          <h2>My organizer</h2>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>assignment</mat-icon>
          <a
            routerLink="tasks"
            class="link"
            [ngClass]="{ 'active-link': location.path() === '/tasks' }"
            matLine
            >Tasks</a
          >
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>work</mat-icon>
          <a
            routerLink="projects"
            class="link"
            [ngClass]="{ 'active-link': location.path() === '/projects' }"
            matLine
            >Projects</a
          >
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
  </mat-sidenav-container>
</div>
