<div class="title">
  <div class="title-text">
    <h1 mat-dialog-title>Create Account</h1>
  </div>
</div>
<div mat-dialog-content class="fields-container">
  <mat-button-toggle-group class="toggle-group" [formControl]="statusControl">
    <mat-button-toggle value="completed">
      <div class="toggle-button">
        <app-check-icon></app-check-icon>Completed
      </div>
    </mat-button-toggle>
    <mat-button-toggle value="in-progress">
      <div class="toggle-button">
        <app-clock-icon></app-clock-icon>In progress
      </div>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput class="title-field-input" [formControl]="title" />
  </mat-form-field>
</div>
<div mat-dialog-actions class="actions">
  <button mat-stroked-button (click)="onNoClick()">Cancel</button>
  <button mat-flat-button color="primary" (click)="onClickSave()">Save</button>
</div>
