<div
  matRipple
  [matRippleDisabled]="rippleDisabled"
  class="root"
  (click)="onRootClick()"
>
  <div class="status">
    <app-clock-icon *ngIf="taskOne.status === 'in-progress'"></app-clock-icon>
    <app-check-icon *ngIf="taskOne.status === 'completed'"></app-check-icon>
  </div>
  <div class="title">
    <h3>{{ taskOne.title }}</h3>
  </div>
  <div class="actions">
    <button
      mat-icon-button
      class="icon-button"
      (mouseover)="onEditMouseOver()"
      (mouseout)="onEditMouseOut()"
      (click)="onEditClick($event)"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-icon-button
      class="icon-button"
      (mouseover)="onDeleteMouseOver()"
      (mouseout)="onDeleteMouseOut()"
      (click)="onDeleteClick($event)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
