@use "@angular/material" as mat;
@use "/src/theme.constants.scss" as theme;

:host {
  display: flex;
  flex-grow: 1;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 10rem;
  margin-right: 3rem;
  align-items: flex-end;
}

.todo {
  flex-grow: 1;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: auto;
}

.todo-list:last-child {
  border: none;
}

.todo-list.cdk-drop-list-dragging .todo-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
