<app-todo class="todo">
  <app-top-panel topPanel title="My Projects">
    <button mat-raised-button color="primary" (click)="openDialog()">
      Add project
    </button>
  </app-top-panel>

  <div
    todoList
    class="todo-list"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
  >
    <app-todo-item
      class="todo-box"
      todoItem
      cdkDrag
      *ngFor="let item of projectsService.todoService.items"
      [title]="item.title"
      (editItemEvent)="editProjectEvent(item._id, $event)"
      (deleteItemEvent)="deleteProjectEvent(item._id)"
      (click)="onClickItem(item._id)"
    >
      <app-progress-bar
        leftOfActions
        [totalNumber]="item.totalNumberOfTasks"
        [completedNumber]="item.numberOfCompletedTasks"
      >
      </app-progress-bar>
    </app-todo-item>
  </div>
</app-todo>
